body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #333;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/512px-React-icon.svg.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

.app {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 4.5rem;
  color: whitesmoke;
}

.bot-collection, .your-bot-army {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.bot-card, .bot-specs {
  border: 2px solid #ccc;
  border-radius: 8px;
  background:rgb(253, 129, 129);
  padding: 10px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(224, 24, 191, 0.1);
}

.bot-card:hover {
  cursor: pointer;
  border-color: #4a4a8e;
}

.bot-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #4a4a8e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 5px 0;
  cursor: pointer;
  font-size: 0.9rem;
}

button:hover {
  background-color: #37376b;
}

h2, h3 {
  margin: 0 0 10px 0;
}

p {
  font-size: 0.9rem;
  margin: 10px 0;
}
